html,
    body{
        height: 100%;     
    }
    .web{
        display: flex;
        height: 100%;
        width: 100%;
        background-image: url("../image/backgrp5.png");
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
    }
    .map{
        display: flex;
        height: 100%;
        width: 30%;
        background-image: url("../image/map5.png");
        background-size: 100% 100%;
        z-index: 1;
        flex-direction: column;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
    }
    /* .map_1{} */
/* Nút button */
button {
    position: relative;
    display: inline-block;
    /* transform: skew(-14deg); */
    height: 60px;
    width: 80px;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    z-index: 2;
    border-radius: 50%;
    background-size: 300% 100%;
}
button.learn-more {
    font-weight: 500;
    /* color: #382b22; */
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #BAE1EB;
    border: 3px solid #034152;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #78B3D4;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #034152, 0 0.625em 0 0 #0f0808;
    -webkit-transform: translate3d(0, 0.75em, -1em);
            transform: translate3d(0, 0.75em, -1em);
    -webkit-transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
    background: #FFFFFF;
    -webkit-transform: translate(0, 0.25em);
            transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
    box-shadow: 0 0 0 2px #034152, 0 0.5em 0 0 #130d0a;
    -webkit-transform: translate3d(0, 0.5em, -1em);
            transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
    background: #034152;
    -webkit-transform: translate(0em, 0.75em);
            transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
    box-shadow: 0 0 0 2px #FC5609, 0 0 #130c07;
    -webkit-transform: translate3d(0, 0, -1em);
            transform: translate3d(0, 0, -1em);
}

.adjust_1{
    display: inline-flex;
    height: 50px;
    width: 80px;
    margin-left: 11%;
    margin-top: 10%;
}
.adjust_2{
    display: inline-flex;
    height: 50px;
    width: 80px;
    margin-top: 21%;
    margin-left:71%;
}
.adjust_3{
    display: inline-flex;
    height: 50px;
    width: 80px;
    margin-top: 21%;
    margin-left: 28%;
}
.adjust_4{
    display: inline-flex;
    height: 50px;
    width: 80px;
    margin-top: 27%;
    margin-left: 52%;
}
.adjust_5{
    display: inline-flex;
    height: 50px;
    width: 80px;
    margin-top: 40%;
    margin-left: 15%;
}
#coating{
    height: 100%; width: 100%; 
    background: rgb(2, 1, 1); 
    opacity: .4; 
    position: absolute; 
    text-align: center;
}
#pic1{
    background-image: url(../image/weather_1.png);
    background-size: 100% 100%;
}
#pic2{
    background-image: url(../image/weather_2.png);
    background-size: 100% 100%;
}
#pic3{
    background-image: url(../image/weather_3.png);
    background-size: 100% 100%;
}
#pic4{
    background-image: url(../image/weather_4.png);
    background-size: 100% 100%;
}
#pic5{
    background-image: url(../image/weather_5.png);
    background-size: 100% 100%;
}